@page
@model DigiLearn.Web.Pages.Blog.IndexModel
@{
    var searchIsActive = string.IsNullOrWhiteSpace(Model.FilterParams.Search) == false;
}

<div class="max-w-7xl space-y-14 px-4 mx-auto">


    <div class="flex items-center gap-5">
        <span class="flex items-center justify-center w-12 h-12 bg-primary text-primary-foreground rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M9.664 1.319a.75.75 0 0 1 .672 0 41.059 41.059 0 0 1 8.198 5.424.75.75 0 0 1-.254 1.285 31.372 31.372 0 0 0-7.86 3.83.75.75 0 0 1-.84 0 31.508 31.508 0 0 0-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 0 1 3.305-2.033.75.75 0 0 0-.714-1.319 37 37 0 0 0-3.446 2.12A2.216 2.216 0 0 0 6 9.393v.38a31.293 31.293 0 0 0-4.28-1.746.75.75 0 0 1-.254-1.285 41.059 41.059 0 0 1 8.198-5.424ZM6 11.459a29.848 29.848 0 0 0-2.455-1.158 41.029 41.029 0 0 0-.39 3.114.75.75 0 0 0 .419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 1 0 1.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 0 1 3.095 2.348.75.75 0 0 0 .992 0 26.547 26.547 0 0 1 5.93-3.95.75.75 0 0 0 .42-.739 41.053 41.053 0 0 0-.39-3.114 29.925 29.925 0 0 0-5.199 2.801 2.25 2.25 0 0 1-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 0 1-1.084 3.45 26.503 26.503 0 0 0-1.281-.78A5.487 5.487 0 0 0 6 12v-.54Z" clip-rule="evenodd"></path>
            </svg>
        </span>
        <div class="flex flex-col space-y-2">
            <span class="font-black xs:text-2xl text-lg text-primary">مقالات سایت</span>
            <span class="font-semibold text-xs text-muted">>@Model.FilterResult.EntityCount مقاله</span>
        </div>
    </div>

    <form id="filter_Form">
        <input type="hidden" value="@Model.FilterParams.CategorySlug" asp-for="FilterParams.CategorySlug" />
        <div class="grid md:grid-cols-12 grid-cols-1 items-start gap-5">
            <div class="md:block hidden lg:col-span-3 md:col-span-4 md:sticky md:top-24">

            
                <div class="w-full flex flex-col space-y-3 mb-3">
                    <span class="font-bold text-sm text-foreground">جستجو در نتایج : </span>

                    <div class="flex items-center relative">
                        <input type="text" class="form-input w-full !ring-0 !ring-offset-0 h-10 bg-secondary !border-0 rounded-xl text-sm text-foreground" placeholder="نام مقاله  مورد نظر را بنویسید…" asp-for="FilterParams.Search">
                        <span class="absolute left-3 text-muted">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </div>

                </div>
                <div class="flex flex-col divide-y divide-border">

                    <div class="w-full space-y-2 py-3" x-data="{ open: true }">
                        <!-- accordion:button -->
                        <button type="button" class="w-full h-11 flex items-center justify-between gap-x-2 relative bg-secondary rounded-2xl transition hover:text-primary px-3 text-foreground text-primary" x-bind:class="open ? 'text-primary' : 'text-foreground'" x-on:click="open = !open">
                            <span class="flex items-center gap-x-2">
                                <span class="flex-shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z"></path>
                                    </svg>
                                </span>
                                <span class="font-semibold text-sm text-right">دسته بندی دوره</span>
                            </span>
                            <span class="rotate-180" x-bind:class="open ? 'rotate-180' : ''">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                                </svg>
                            </span>
                        </button>

                        <div class="bg-secondary rounded-2xl relative p-3" x-show="open">
                            <div class="space-y-2">



                                @foreach (var item in Model.Categories)

                                {
                                    <div class="flex items-center gap-2 cursor-pointer">
                                        <input value="@item.Slug" name="category" checked="@(Model.FilterParams.CategorySlug==item.Slug?"checked":null)" type="radio" id="@item.Id" class="form-radio !ring-0 !ring-offset-0 bg-border border-0" />
                                        <span class="text-muted @(Model.FilterParams.CategorySlug==item.Slug?"selected":null)" checkfor="@item.Id">@item.Title</span>
                                    </div>
                                }

                               


                            </div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="lg:col-span-9 md:col-span-8">
                <div class="flex items-center gap-3 mb-3">

                    <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-x-5 gap-y-10">
                        @foreach (var item in Model.FilterResult.Data)



                        {

                            <partial name="Shared/Blog/_BlogPostCard" model="item" />

                        }


                    </div>
                </div>
                <partial name="Shared/_Pagination" model="Model.FilterResult" />

            </div>
        </div>
    </form>
</div>


@section Scripts

{
    <script src="/js/category.js" asp-append-version="true"></script>
}
