@using CoreModule.Facade.Categories
@inject ICourseCategoryFacade _CategoryFacade
@{
    var categories = await _CategoryFacade.GetMainCategories();
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="~/assets/images/favicon.svg" />
    <link rel="stylesheet" href="~/assets/css/dependencies/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/dependencies/plyr.min.css" />
    <link rel="stylesheet" href="~/assets/css/dependencies/fancybox.min.css" />
    <link rel="stylesheet" href="~/assets/css/fonts.css" />
    <link rel="stylesheet" href="~/assets/css/app.css" />
    <link rel="stylesheet" href="~/assets/css/custom.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>سروش مهر صحت - @ViewData["Title"]</title>
    @RenderSection("Meta",false)

</head>
<body>
    <div class="flex flex-col min-h-screen bg-background">
        <!-- header -->
        <partial name="_Header" model="categories"></partial>
        <!-- end header -->
        <main class="flex-auto py-5">
            <div class="space-y-14">
                <!-- container -->
                @RenderBody()


            </div>
        </main>
        <div id="token-value">
            @Html.AntiForgeryToken()
        </div>
        <!-- footer -->
        <partial name="_Footer"></partial>
        <!-- end footer -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="~/assets/js/dependencies/alpinejs.min.js"></script>
    <script src="~/assets/js/dependencies/swiper-bundle.min.js"></script>
    <script src="~/assets/js/dependencies/plyr.min.js"></script>
    <script src="~/assets/js/dependencies/fancybox.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/global/global.js"></script>
    <script src="~/global/custom.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>

    @RenderSection("Scripts", false)
</body>
</html>
